<?xml version="1.0" encoding="utf-8"?>

<configuration>

    <configSections>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
        <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
    </configSections>

    <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <targets>
            <target xsi:type="Chainsaw" name="Log2Console" address="udp://127.0.0.1:7071" />
            <target xsi:type="Trace" name="Trace" layout="NLog : ${level:padding=5} : ${logger} - ${message} ${exception:format=tostring}" />
        </targets>
        <rules>
            <logger name="*" minlevel="Trace" writeTo="Log2Console" />
            <logger name="*" minlevel="Trace" writeTo="Trace" />
        </rules>
    </nlog>

    <specFlow>
        <unitTestProvider name="xUnit" />
    </specFlow>

</configuration>